*{
    margin: 0;
    padding: 0
}
li{
    list-style: none;
}
body{
    width:100%;
    height: 100%;
    overflow: hidden;
}
.music{
    width: 0.4rem;
    height: 0.4rem;
    background: url('../images/musicBtn.png') no-repeat;
    background-size: 0.4rem 0.4rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
}
.music_off{
    background-image: url('../images/musicBtnOff.png') 
}
.swiper-container {
    width: 100%;
    height: 5.68rem;
}  
.swiper-slide{
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff
}
.swiper-slide .slide-into{
    width: 100%;
    height: 100%;
    position: relative;
}
.slide-into .arrow{
    width: 0.215rem;
    height: 0.31rem;
    position: absolute;
    bottom: 2%;
    left: 47%;
}
.slide-into .arrow img{
    width: 0.215rem;
    height: 0.31rem;
    position: absolute;
    top: 0;
    left: 0; 
    animation: go 1.5s linear infinite;
    -webkit-animation: go 1.5s linear infinite;
}
.slide1 .slide-into h1{
    width: 1.02rem;
    height: 0.2rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}
.slide1 .slide-into h1 img{
    width: 1.02rem;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide1 .slide-into .content-bg{
    width: 3.2rem;
    height: 3.985rem;
    background: url('../images/indexSnacky.jpg') no-repeat;
    background-size: 3.2rem 3.985rem;
    position: absolute;
    top: 1.2rem;
    left: 0;
}
.slide1 .slide-into .content-bg img{
    position: absolute;
    top: 30%;
    left: 23%;
    width:1.79rem;
    height: 0.695rem;
    transform: scale(0);
}
.content-bg img:nth-of-type(1){
    animation: scale 0.5s linear forwards;
    -webkit-animation: scale 0.5s linear forwards;
}
.content-bg img:nth-of-type(2){
    animation: scale 0.5s 0.5s linear forwards;
    -webkit-animation: scale 0.5s 0.5s linear forwards;
}
.content-bg img:nth-of-type(3){
    animation: scale 0.5s 1s linear forwards;
    -webkit-animation: scale 0.5s 1s linear forwards;
}
.content-bg img:nth-of-type(4){
    animation: scale 0.5s 1.5s linear forwards;
    -webkit-animation: scale 0.5s 1.5s linear forwards;
}
.content-bg img:nth-of-type(5){
    animation: scale 0.5s 2s linear forwards;
    -webkit-animation: scale 0.5s 2s linear forwards;
}
.content-bg img:nth-of-type(6){
    animation: scale 0.5s 2.5s linear forwards;
    -webkit-animation: scale 0.5s 2.5s linear forwards;
}
.slide1 .slide-into .house{
    width: 3.2rem;
    height: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.slide1 .slide-into .house ul{
    width: 6.4rem;
    height: 0.9rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: run 10s  linear infinite;
    -webkit-animation: run 10s linear infinite;
}
.slide1 .slide-into .house ul li{
    float: left;
    width: 3.2rem;
    height: 0.9rem;
}
.slide1 .slide-into .house ul li img{
    width: 3.2rem;
    height: 0.9rem;
}
.slide2{
    background: #fe657a;
}
.slide2 .slide-into .boy-bg{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0.2rem;
    right: 0;
}   
.slide2 .slide-into .boy-bg img{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide2 .slide-into .cont-lt{
    width: 0.62rem;
    height: 1.23rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.1rem;
}
.slide2 .slide-into .cont-lt img{
    width: 0.62rem;
    height: 1.23rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide2 .slide-into .cont-rb{
    width: 0.57rem;
    height: 1.69rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.1rem;
}
.slide2 .slide-into .cont-rb img:nth-of-type(1){
    width: 0.345rem;
    height: 0.34rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide2 .slide-into .cont-rb img:nth-of-type(2){
    width: 0.22rem;
    height: 1.02rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide2 .slide-into .cont-rb img:nth-of-type(3){
    width: 0.57rem;
    height: 1.685rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide2 .slide-into .light{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0.22rem;
    right: 0;
}
.slide2 .slide-into .light img{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: goo 0.7s linear infinite;
    -webkit-animation: goo 0.7s linear infinite;
}
.slide2 .slide-into .stars{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0.2rem;
    right:0;
}
.slide2 .slide-into .stars img{
    width: 2.74rem;
    height: 4.47rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: goo 0.7s linear 0.2s infinite;
    -webkit-animation: goo 0.7s linear 0.2s infinite;
}
.slide3{
    background: #09bee3;
}
.slide3 .slide-into .boy-bg{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0.2rem;
    left: 0;  
}
.slide3 .slide-into .boy-bg img{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide3 .slide-into .cont-rb{
    width: 0.595rem;
    height: 1.16rem;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0.1rem;
}
.slide3 .slide-into .cont-rb img{
    width: 0.595rem;
    height: 1.16rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide3 .slide-into .cont-lt{
    width: 0.57rem;
    height: 1.69rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.1rem;
}
.slide3 .slide-into .cont-lt img:nth-of-type(1){
    width: 0.345rem;
    height: 0.34rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide3 .slide-into .cont-lt img:nth-of-type(2){
    width: 0.22rem;
    height: 1.02rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide3 .slide-into .cont-lt img:nth-of-type(3){
    width: 0.57rem;
    height: 1.685rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide3 .slide-into .light{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0.22rem;
    left: 0;
}
.slide3 .slide-into .light img{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: goo 0.7s linear infinite;
    -webkit-animation: goo 0.7s linear infinite;
}
.slide3 .slide-into .stars{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0.2rem;
    left:0;
}
.slide3 .slide-into .stars img{
    width: 2.685rem;
    height: 4.45rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: goo 0.7s linear 0.2s infinite;
    -webkit-animation: goo 0.7s linear 0.2s infinite;
}
.slide4{
    background: #36a15c;
}
.slide4 .slide-into .bg{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;  
}
.slide4 .slide-into .bg img{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide4 .slide-into .light{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide4 .slide-into .light img{
    width: 100%;
    height: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
} 
.slide4 .slide-into .light img:nth-of-type(1){
    animation: goo 0.8s linear infinite;
    -webkit-animation: goo 0.8s linear infinite;
}
.slide4 .slide-into .light img:nth-of-type(2){
    animation: goo 0.8s linear 0.3s infinite;
    -webkit-animation: goo 0.8s linear 0.3s infinite;
}
.slide4 .slide-into .you{
    background: url('../images/FixArrowTxt.png') no-repeat;
    background-size: 0.83rem 0.305rem;
    width: 0.83rem;
    height: 0.305rem;
    position: absolute;
    bottom: 5%;
    left: 37%;
}
.slide4 .slide-into .you img{
    width: 0.83rem;
    height: 0.305rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: yourun 0.5s linear infinite;
    -webkit-animation: yourun 0.5s linear infinite;
}
.slide5{
    background: #629dff;
}
.slide5 .slide-into p{
    font-size: 0;
    padding-top: 0.5rem;
    text-align: center;
}
.slide5 .slide-into .img1{
    width: 1.295rem;
    height: 0.8rem;
}
.slide5 .slide-into .img2{
    width: 0.02rem;
    height: 0.35rem;
}
.slide5 .slide-into .labs{
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 2.5rem;
    left: 0;
}
.slide5 .slide-into .labs img{
    width: 100%;
    height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide6 .slide-into{
    text-align: center;
    overflow: hidden;
}
.slide6 .slide-into h1{
    width: 1.02rem;
    height: 0.2rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}
.slide6 .slide-into h1 img{
    width: 1.02rem;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
}
.slide6 .slide-into .p-img1{
    margin-top: 0.8rem;
    width: 100%;
    height: 0.225rem;
    font-size: 0;
}
.slide6 .slide-into .p-img1 img{
    width: 2.165rem;
    height: 0.225rem;
}
.slide6 .slide-into form{
    margin-top: 0.8rem;
    overflow: hidden;
    position: relative;
}
.slide6 .slide-into label{
    display: block;
    width: 2.17rem;
    height: 0.19rem;
    margin: 0 auto;
}
.slide6 .slide-into label input{
    float: left;
    width: 1.9rem;
    height: 0.17rem;
    background: #ffffff;
    border: 0;
    border: 1px solid #cccccc;
    border-right: 0;
}
.slide6 .slide-into label button{
    float: left;
    width: 0.2rem;
    height: 0.19rem;
    background: #629dff url('../images/iconsZoom.png') no-repeat center;
    background-size: 0.15rem 0.15rem;
    border: 0;
}
.slide6 .slide-into form img{
    width:0.76rem;
    height: 0.12rem;
    position: absolute;
    top: 0.04rem;
    left: 0.6rem;
}
.slide6 .slide-into .btn{
    width: 2.25rem;
    height: 0.48rem;
    position: absolute;
    bottom:0.8rem;
    left: 0.45rem;
    font-size: 0;
}
.slide6 .slide-into .btn>img{
    width:0.735rem;
    height: 0.135rem;
    position: absolute;
    top: 0;
    left: 0.75rem;
}
.slide6 .slide-into .btn a:nth-of-type(1){
    float: left;
    width: 1.025rem;
    height: 0.27rem;
    margin-top: 0.2rem;
}
.slide6 .slide-into .btn a:nth-of-type(2){
    float: right;
    width: 1.025rem;
    height: 0.27rem;
    margin-top: 0.2rem;
}
.slide6 .slide-into .btn a img{
    width: 1.025rem;
    height: 0.27rem;
}
@keyframes go {
    50% {opacity: 0}
    0%, 100% {opacity: 1}
}
@-webkit-keyframes go {
    50% {opacity: 0}
    0%, 100% {opacity: 1}
}
@keyframes goo {
    50% {opacity: 0.3}
    0%, 100% {opacity: 1}
}
@-webkit-keyframes goo {
    50% {opacity: 0.3}
    0%, 100% {opacity: 1}
}
@keyframes scale {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}
@-webkit-keyframes scale {
    0% {transform: scale(0)}
    100% {transform: scale(1)}
}
@keyframes run {
    0% {transform: translate(0)}
    100% {transform: translate(-3.2rem,0);left: 0}
}
@-webkit-keyframes run {
    0% {transform: translate(0)}
    100% {transform: translate(-3.2rem,0);left: 0}
}
@keyframes yourun {
    0% {transform: translate(0,-0.05rem)}
    50% {transform: translate(0,0.01rem)}
    100% {transform: translate(0)}
}
@-webkit-keyframes yourun {
    0% {transform: translate(0,-0.05rem)}
    50% {transform: translate(0,0.01rem)}
    100% {transform: translate(0)}
}
